version: '2'

services:
  traefik:
   image: traefik
   command: --web --docker
   mem_limit: 128m
   labels:
     - "traefik.enable=false"
   ports:
     - 80:80
     - 443:443
     - 8080:8080
   volumes:
     - "./traefik/ssl:/etc/traefik/ssl"
     - "./traefik/traefik.toml:/etc/traefik/traefik.toml"
     - "/var/run/docker.sock:/var/run/docker.sock"
   restart: always


  nginx:
    image: nginx
    volumes:
      - ./wordpress:/var/www/html
      - ./logs/nginx:/var/log/nginx
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx-conf:/etc/nginx/conf.d
    restart: always
    labels:
      - "traefik.backend={{ project }}"
      - "traefik.frontend.rule=Host:{{ domain }}"
      - "traefik.protocol=http"
      - "traefik.port=80"
{% if stage == 'production' %}
      - "traefik.acme=true"
      - "traefik.frontend.entryPoints=https,http"
{% elif stage == 'local' %}
      - "traefik.acme=false"
      - "traefik.frontend.entryPoints=http"
{% endif %}

  wordpress:
    image: wordpress:{{ wp_version }}-{{ php_fmp_version }}
    volumes:
      - ./wordpress:/var/www/html
      - ./wordpress/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
    environment:
      WORDPRESS_DB_NAME: '{{ wp_db_name }}'
      WORDPRESS_TABLE_PREFIX: '{{ wp_db_tb_pre }}'
      WORDPRESS_DB_HOST: '{{ wp_db_host }}'
      WORDPRESS_DB_PASSWORD: '{{ wp_db_psw }}'
    restart: always

  {{ wp_db_host }}:
    image: mariadb
    volumes:
      - ./wpdb:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: '{{ wp_db_psw }}'
    restart: always
